@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  margin: 0;
  padding: 0;
  background: #050505;
  color: white;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

input,
select {
  background: #111 !important;
  color: white !important;
}

button {
  cursor: pointer;
}
